.readed{
  border-bottom:2px dotted red;
}
.msg{  
  position:fixed;
  left:0px;
  z-index: 1;
  opacity: 0.5;
}
#topmsg{
  top:0px;
}
#btmmsg{
  bottom:0px;
}
.mention{
  color:white;
  background-color: red;  
}
.newmsg{
  color:white;
  background-color: blue;  
}