<ion-header>
  <ion-toolbar color="primary">
    <button ion-item (click)="retRoom()">
      <ion-title>{{folder.na}}</ion-title>
      <ion-icon *ngIf="folder.id != 0" name="exit" item-right></ion-icon>
      <ion-icon *ngIf="folder.id == 0 && bookmk==1" name="bookmark" item-right></ion-icon>
    </button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding #itemSliding *ngFor="let room of rooms">
      <button ion-item menuClose (click)="joinRoom(room)" (press)="bookmark(room)">
        <span [class.folder]="room.folder==1">{{room.na}}</span>
        <ion-icon *ngIf="room.allow==0" name="lock" item-right></ion-icon>
        <ion-icon *ngIf="room.bookmark==1" name="bookmark" item-right></ion-icon>
      </button>
      <ion-item-options side="left">
        <button ion-button icon-only color="danger" (click)="bookmark(room)">
          <ion-icon name="bookmark" item-right></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>