<ion-header>
  <ion-toolbar>
    <ion-item button="true" (click)="detail()">
      <ion-avatar>
        <ion-img [src]="member.avatar"></ion-img>
      </ion-avatar>
      <ion-title>{{member.na}}</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item *ngIf="!data.user.id" button="true" (click)="close()">
      <ion-icon name="exit"></ion-icon>戻る
    </ion-item>
    <ng-container *ngIf="data.user.id">
      <ion-item *ngIf="data.room.id<1000000000" button="true" (click)="mention()">
        メンション
      </ion-item>
      <ion-item *ngIf="data.room.id<10000000000" button="true" (click)="direct()">
        ダイレクト
      </ion-item>
      <ion-item button="true" (click)="blocking()" color="warning">
        <span *ngIf="block">通知ブロック解除</span>
        <span *ngIf="!block">通知ブロック</span>
      </ion-item>
      <ion-item *ngIf="(data.room.plan || data.room.applyplan) && data.room.auth >=200 && member.auth <= data.room.auth"
        button="true" (click)="kick()" color="warning">
        <span>Kick！</span>
      </ion-item>
      <ion-item *ngIf="data.room.auth >=200 && member.auth <= data.room.auth" button="true" color="danger" (click)="ban()">
        <span>BAN！</span>
      </ion-item>
    </ng-container>
  </ion-list>
</ion-content>