<ion-header>
  <ion-toolbar>
    <ion-item>
      <input placeholder="メンバー検索" (keyup.enter)="searchMember()">
      <ion-button clear icon-only item-right (click)="searchMember()">
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let member of members" button="true" (click)="letMember(member)">
      <ion-avatar item-left>
        <img [src]="member.avatar">
      </ion-avatar>
      <span>{{member.na}}</span>
      <!-- <ion-icon [name]="member.rtc" item-right></ion-icon> -->
    </ion-item>
  </ion-list>
</ion-content>