<ion-header>
  <ion-toolbar>
    <button style="display:none;" id="dummy"></button>
    <ion-buttons slot="start">
      <ion-menu-button menu="start"></ion-menu-button>
    </ion-buttons>
    <ion-item>
      <ion-title>{{data.room.na}}</ion-title>
      <ion-button (click)="rtc('headset')" item-right>
        <ion-icon name="headset"></ion-icon>
        視聴
      </ion-button>
      <ion-button *ngIf="user" (click)="rtc('mic')" color="danger" icon-left item-right>
        <ion-icon name="mic"></ion-icon>ラジオ
      </ion-button>
      <ion-button *ngIf="user" (click)="rtc('videocam')" color="danger" icon-left item-right>
        <ion-icon name="videocam"></ion-icon>動画
      </ion-button>
      <ion-button *ngIf="user" icon-only item-right (click)="logout()" item-right icon-left color="dark">
        <ion-icon name="exit"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-buttons slot="end">
      <ion-menu-button menu="end"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<div><span *ngIf="mentionTop">メンション↑{{mentionTop}}件</span></div>
<ion-content id="chatscontent" [scrollEvents]="true" (ionScroll)="onScroll($event)" (ionScrollEnd)="onScrollEnd($event)">
  <router-outlet (activate)="onActivate($event)"></router-outlet>
</ion-content>
<div><span *ngIf="mentionButtom">メンション↓{{mentionButtom}}件</span><span *ngIf="data.newChat">新着メッセージ↓</span>
</div>
<ion-footer id="footer">
  <ion-toolbar no-padding>
    <ion-item *ngIf="!user.id" button="true" (click)="login()">
      ログインしてコミュニケーションを楽しもう
      <ion-icon name="logo-twitter"></ion-icon>
      <ion-icon name="logo-facebook"></ion-icon>
      <ion-icon name="logo-google"></ion-icon>
    </ion-item>
    <div [class.none]="!user.id">
      <ion-item no-padding>
        <div id="tiny"></div>
        <ion-button clear icon-only item-right (click)="sendMsg()">
          <ion-icon name="ios-send" ios="ios-send" md="md-send"></ion-icon>
        </ion-button>
      </ion-item>
      <p id="writer">{{writer}}</p>
    </div>
  </ion-toolbar>
</ion-footer>