<ion-header>
  <ion-toolbar>
    <button style="display:none;" id="dummy"></button>
    <ion-buttons slot="start">
      <ion-menu-button menu="start"></ion-menu-button>
    </ion-buttons>
    <ion-item>
      <ion-title>{{data.room.na}}</ion-title>
      <ion-button (click)="rtc('headset')" item-right>
        <ion-icon name="headset"></ion-icon>
        視聴
      </ion-button>
      <ion-buttons *ngIf="data.user.id">
        <ion-button (click)="rtc('mic')" color="danger" icon-left item-right>
          <ion-icon name="mic"></ion-icon>ラジオ
        </ion-button>
        <ion-button (click)="rtc('videocam')" color="danger" icon-left item-right>
          <ion-icon name="videocam"></ion-icon>動画
        </ion-button>
        <ion-button icon-only item-right (click)="logout()" icon-left color="dark">
          <ion-icon name="exit"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-buttons slot="end">
      <ion-menu-button menu="end"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <router-outlet></router-outlet>
</ion-content>
<ion-footer id="footer">
  <ion-toolbar no-padding>
    <ion-item *ngIf="!data.user.id" button="true" (click)="login()">
      ログインしてコミュニケーションを楽しもう
      <ion-icon color="secondary" name="logo-twitter"></ion-icon>
      <ion-icon name="logo-facebook"></ion-icon>
      <ion-icon color="danger" name="logo-google"></ion-icon>
    </ion-item>
    <div [class.none]="!data.user.id||!data.room.chat">
      <ion-item no-padding>
        <ion-button clear icon-only (click)="addClick()">
          <ion-icon color="light" name="add-circle"></ion-icon>
        </ion-button>
        <ion-buttons *ngIf="add">
          <ion-button clear icon-only (click)="image()">
            <ion-icon color="secondary" name="image"></ion-icon>
          </ion-button>
          <input type="file" value="ファイルを選択" (change)="fileup($event)">
          <ion-button clear icon-only (click)="youtube()">
            <ion-icon color="danger" name="logo-youtube"></ion-icon>
          </ion-button>
        </ion-buttons>
        <div class="tiny"></div>
        <ion-button clear icon-only item-right (click)="sendMsg()">
          <ion-icon name="ios-send"></ion-icon>
        </ion-button>
      </ion-item>
      <p id="writer">{{writer}}</p>
    </div>
  </ion-toolbar>
</ion-footer>