<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-item>
      <ion-title>{{room.na}}</ion-title>
      <button ion-button (click)="rtc('headset')" item-right>
        <ion-icon name="headset"></ion-icon>
        視聴
      </button>
      <button *ngIf="user" ion-button (click)="rtc('mic')" color="danger" icon-left item-right>
        <ion-icon name="mic"></ion-icon>ラジオ
      </button>
      <button *ngIf="user" ion-button (click)="rtc('videocam')" color="danger" icon-left item-right>
        <ion-icon name="videocam"></ion-icon>動画
      </button>
      <button *ngIf="user" ion-button icon-only item-right (click)="logout()" item-right icon-left color="dark">
        <ion-icon name="exit"></ion-icon>
      </button>
    </ion-item>
    <ion-buttons end>
      <button ion-button menuToggle="right">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- <story *ngIf="room.story" [room]="room" [user]="user"></story> -->
  <ion-list *ngIf="room.chat" class="chat-list">
    <ion-item *ngFor="let chat of chats">
      <ion-avatar item-left>
        <img [src]="chat.avatar">
      </ion-avatar>
      <span class="msg-name">{{chat.user}}</span>
      <span class="msg-date">{{chat.sendDate | date:'short'}}</span>
      <p text-wrap>{{chat.message}}</p>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar *ngIf="room.chat" no-padding>
    <div [ngSwitch]="user">
      <div *ngSwitchCase="false">
        <button ion-item (click)="login()">
          ログインしてコミュニケーションを楽しもう
          <ion-icon name="logo-twitter"></ion-icon>
          <ion-icon name="logo-facebook"></ion-icon>
          <ion-icon name="logo-google"></ion-icon>
        </button>
      </div>
      <div *ngSwitchDefault>
        <ion-item no-padding>
          <textarea #chat_input placeholder="気軽に書き込んで" [(ngModel)]="message" (keydown)="keyPress()" (keydown.enter)="sendMsg()"></textarea>
          <button ion-button clear icon-only item-right (click)="sendMsg()">
            <ion-icon name="ios-send" ios="ios-send" md="md-send"></ion-icon>
          </button>
        </ion-item>
        <p id="writer">{{writer}}</p>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>